<form class="bg-white">
    <div class="container mt-5 bg-white py-3">
    <h4>Get The FreshCart App</h4>
    <p class="text-secondary">We Will Send You a Link,open it on Your Phone</p>
    <div class="d-flex justify-content-between my-3 ">
        <input type="email" placeholder="Email..." class="form-control py-2 w-75">
        
        <button routerLink="/checkoutpayment" class="text-uppercase fw-bold btn bg-main text-light ">Share App Link</button>
    </div>
    
    <div class="border-top text-center pt-3">
        <p class="mt-2 text-secondary">© 2024 kholoud sayed , All Rights Reserved</p>
    </div>
    </div>
</form>




