.fav-icon {
    top: 20px;
    right: -35px;
    border: 1px solid transparent;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.12);
    transition: transform 0.7s;   
}


.col-md-3:hover {
    .fav-icon{
       transform: translateX(-55px);
    }
}

.fav-icon:hover {
    background-color: #731EC8;
    color: white;

}

.form-control:focus{
    border-color: #731EC8;
    box-shadow: 1px 1px 10px #731ec866;
}





.product{
    transition: all .5s;
    position: relative !important;

  }
 .product #icinWis{
    display: flex !important;
    top: 0;
    background-color: #00000015;
    border-radius: 50%;
    padding: 8px;
    right: -80px;
    position: absolute !important;
    opacity: 1 !important;
    transition: transform 1s, opacity 1s, right 1s, background-color 1s !important;
    transform: translateY(110%) !important;
}
  .product:hover #icinWis{
    opacity: 1 !important;
    right: 10px;
    transform: translateY(110%) !important;
}


.wishlist-icon i{
    color: #999 !important;
    cursor: pointer !important;
  }
  
  .wishlist-icon.in-wishlist i{
    color: red !important;
    right: 10px !important;
}



