<header *ngIf="productList.length > 0; else loading" class="pt-5">
    <div class="container pt-5">
        <div class="position-relative w-50 m-auto my-5 d-flex justify-content-end align-items-center">
            <input type="text" placeholder="Search..." class="form-control" [(ngModel)]="searchValue">
            <span class="position-absolute px-2"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div class="row gy-5 my-3">
            <div class="col-md-3 product overflow-hidden p-2 position-relative p-3"
                *ngFor="let product of productList | search :searchValue">
                <div (click)="addToMyWishList(product._id)"
                    class="fav-icon position-absolute my-2 d-flex justify-content-center align-items-center">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class=" p-2" [routerLink]="['/productDetails',product._id]">
                    <img [src]="product?.imageCover" class="w-100" [alt]="product?.title">
                    <p class="text-main">{{product?.category?.name}}</p>
                    <div class="d-flex justify-content-between ">
                        <p>{{product?.price}}EGP</p>
                        <p>{{product?.ratingsAverage}} <i class="fa-solid fa-star rating-color"></i> </p>
                    </div>
                </div>
                <button (click)="addToMyCart(product._id)" class="btn bg-main text-light w-100">Add to cart</button>

            </div>
        </div>
    </div>
</header>

<ng-template #loading>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-spinner fa-spin fa-5x text-main"></i>
    </div>

</ng-template>