<div class="signin">
    <div class="container ">
        <h1 class="text-main mt-3">login Form :</h1>
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm)">
            <div class="row">
                <div class="col-md-8 m-auto bg-light shadow p-5 my-5">
                    <div class="row gy-4">
                        <div class="col-md-12  ">
                            <label class="position fw-bold">Email :</label>
                            <input type="text" formControlName="email" id="user-Email" class="form-control  ">
                            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                                <p *ngIf="loginForm.get('email')?.getError('required')" class="text-danger">Enter your
                                    email</p>
                                <p *ngIf="loginForm.get('email')?.getError('email')" class="text-danger">Enter a valid
                                    email</p>
                            </div>
                        </div>
                        <div class="col-md-12  ">
                            <label class="position fw-bold">Password :</label>
                            <div class="d-flex justify-content-end align-items-center position-relative">
                                <input [type]="changetype?'password':'text'" formControlName="password" id="user-Pw"
                                    class="form-control">
                                <span class="eye-icon position-absolute px-2" (click)="viewPass()"><i [ngClass]="visible ?'fa-solid fa-eye-slash':'fa-solid fa-eye'"></i></span>
                                 </div>
                            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                                <p *ngIf="loginForm.get('password')?.getError('required')" class="text-danger">Enter
                                    your password</p>
                                <p *ngIf="loginForm.get('password')?.getError('pattern')" class="text-danger">Enter a
                                    valid password</p>
                            </div>

                        </div>
                        <p class="text-danger">{{error}}</p>
                        <div class="submit-button d-flex flex-column justify-content-center align-items-end">
                            <button [disabled]="loginForm.invalid" class="btn text-light float-end" type="submit">login
                                <span *ngIf="isLoading">
                                    <i class="fa-solid fa-spinner fa-spin"></i>
                                </span>
                            </button>
                            <a class="forgot my-3 py-1 px-3" routerLink="/forgotpassword">Forgot Password</a>
                        </div>

                        <div>
                            <p class="text-muted">I don't have an account, <a class="text-main"
                                    routerLink="/signup">Register Now</a> </p>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>