.btn {
    background-color: #731EC8;
    border-color: transparent;

}

.forgot {
    color: #731EC8;
    background-color: white;
    border: 1px solid #731EC8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.forgot:hover{
    background-color: #731EC8;
    color: white;
}

.eye-icon{
    cursor: pointer;
}
 
  