<div class="resetPassword">
    <div class="container ">
        <h1 class="text-main my-3">Forgot your password :</h1>
        <h6 class="text-dark text-shadow my-3">Get a new password in simple steps!</h6>
        <form [formGroup]="resetForm" (ngSubmit)="resetSubmit(resetForm)">
            <div class="row">
                <div class="col-md-8 m-auto bg-light shadow p-5 my-5">
                    <div class="row gy-4">
                        <div class="col-md-12  ">
                            <label class="position fw-bold">Email :</label>
                            <input type="text" formControlName="email" id="user-Email" class="form-control  ">
                            <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched">
                                <p *ngIf="resetForm.get('email')?.getError('required')" class="text-danger">Enter your email</p>
                                <p *ngIf="resetForm.get('email')?.getError('email')" class="text-danger">Enter a valid email</p>
                            </div>
                        </div>
                        <div class="col-md-12  ">
                            <label class="position fw-bold">New Password :</label>
                            <input type="password" formControlName="newPassword" id="user-Pw" class="form-control ">
                            <div *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched">
                                <p *ngIf="resetForm.get('newPassword')?.getError('required')" class="text-danger">Enter your new Password</p>
                                <p *ngIf="resetForm.get('newPassword')?.getError('pattern')" class="text-danger">Enter a valid Password</p>
                            </div>
                        </div>
                        <p class="text-danger">{{error}}</p>
                        <div class="submit-button">
                            <button [disabled]="resetForm.invalid" class="btn text-light float-end" type="submit">Change Password
                                <span *ngIf="isLoading">
                                    <i class="fa-solid fa-spinner fa-spin"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
  
