<div class="container forgotPassword my-5 py-5">
  <form [formGroup]="forgotPassword" (ngSubmit)="sendCode(forgotPassword)">
    <div class="row my-5">
      <div class="col-md-8 m-auto">
        <div class="layer bg-light shadow p-5">
          <label>Email :</label>
          <input formControlName="email" type="email" class="form-control">
         <p  class="text-main">{{msgSuccess}}</p>
          <p class="text-danger ">{{msgError}}</p>
          <button class="btn bg-main text-light my-3">Send Code</button>
        </div>
      </div>
    </div>
  </form>
  </div>





<div class="container resetCode d-none my-5 py-5">
  <form [formGroup]="verifyCode" (ngSubmit)="verifyResetCode(verifyCode)">
    <div class="row my-5">
      <div class="col-md-8 m-auto">
        <div class="layer bg-light shadow p-5">
          <label>Code :</label>
          <input formControlName="resetCode" type="text" class="form-control">
         <p  class="text-main">{{msgSu}}</p>
          <p class="text-danger ">{{msgErr}}</p>
          <button class="btn bg-main text-light my-3">Send</button>
        </div>
      </div>
    </div>
  </form>
  </div>